<mat-card class="example-card">
<div class="input" >
    <button mat-raised-button disabled class="input1">
        CPU
        <mat-icon >
            unfold_more
        </mat-icon>
    </button>
      
</div>
    
    <div class="circle">
       <!--<h1>4 Core</h1>-->
        
   <circle-progress  class="circle" [percent]="20" [space]="-10" [radius]="50" [outerStrokeWidth]="10"
   [innerStrokeWidth]="10" [outerStrokeColor]="'#FA8072'" [innerStrokeColor]="'	#FFC0CB'" [animation]="true" [animationDuration]="1000">

 
  </circle-progress>
    

   <br>
 <!-- <h1>4 Core</h1>-->
   
   <circle-progress  class="circle" [percent]="20" [space]="-10" [radius]="50" [outerStrokeWidth]="10"
   [innerStrokeWidth]="10" [outerStrokeColor]="'#FA8072'" [innerStrokeColor]="'	#FFC0CB'" [animation]="true" [animationDuration]="1000">

   </circle-progress>
   </div>-->
   <!--<h1>4 Core</h1>
   <mat-progress-spinner value="100" class="circle">
      
   </mat-progress-spinner>
   <h1>4 Core</h1>
   <mat-progress-spinner value="100" class="circle"></mat-progress-spinner>-->
</mat-card>
