<mat-card class="example-card">
<div class="input" >
    <button mat-raised-button disabled class="input1">
        Data Size
        <mat-icon >
            unfold_more
        </mat-icon>
    </button>
      
    
    
  </div>
  <div>
  <h2 >0.0273MB</h2>
  <section class="example-section">
    <mat-progress-bar
        class="example-margin"
        color="primary"
        mode="determinate"
        value="40">
    </mat-progress-bar>
  </section>
  
    
    <h2 >0.0273MB</h2>
    <section class="example-section">
     <mat-progress-bar
        class="example-margin"
        value="40"
        mode="determinate"
        color="primary">
    </mat-progress-bar>
    </section>
   </div>
  </mat-card>        
  